sourceDir = "~/.local/share/chezmoi"
encryption = "age"

[git]
    autoPush = true
[cd]
    command = "fish"
[edit]
    command = "nvim"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1eshf8qnemzywk903xlp6c6p5px2leq86uf0k55gry9esmyxn5f0qhvglyk"

